* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    font-size: 23px;
}

#homepage {
    justify-content: center; 
    /*horizontal alignment normally but vertical alignment with column*/
    align-items: center;
    /*vertical alignment normally but horizontal alignment with column*/
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#barcode {
    width: 10rem; 
    height: 2.5rem;
}

#selection-window {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.rectangle {
    background-color: #14181c;
    height: 3rem;
    width: 21rem;
    padding-top: 0.65rem;
    text-transform: uppercase;
    border-color: #00e054;
    border: 2px solid #00e054;
    color: grey;
    font-family: monospace;
    font-size: 1.25rem;
    text-align: center;
}

#receipt {
    display: none;
    flex-direction: column;
    height: 23rem;
    width: 20rem;
    background-image: url("thermal-paper.jpg");
    padding: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    align-items: center;
    color: rgba(0,0,0,0.75);
}

#title {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    word-break: break-word;
    text-wrap: balance;
}

.text {
    padding-top: 5px;
    align-self: start;
    font-family: "Anonymous Pro", monospace;
    font-size: 0.85rem;
    line-height: 0.85rem;
    text-transform: uppercase;
    font-weight: 450;
}

.divider {
    align-self: start;
    font-family: "Anonymous Pro", monospace;
    font-size: 0.7rem;
    line-height: 0.5rem;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
}

body {
    background-color: #14181c;
    color: #fff;
    font-family: monospace;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 2px solid #00e054;
    background-color: #14181c;
    color: white;
    font-family: monospace;
    font-size: 16px;
    outline: none; /*prevents blue glow around inputs after clicked*/
}

button {
    padding: 10px 20px;
    background-color: #00e054;
    color: black;
    border: 2px solid #14181c;
    font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}

hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid #fff;
}

footer {
    font-size: 16px;
}

a {
    color: #fff;
}

canvas {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}